@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    line-height: 1.2em;
}

a {
    text-decoration: none;
    color: black;
 }


                                        /* PAGE LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-column: 2 / -1;
    box-shadow: 0px 2px 10px rgb(189, 188, 188);
    position: relative;
    z-index: 10;
}

.sidebar {
    grid-row: 1 / -1;

    background-color: rgb(195, 252, 185);
    padding: 1.5em;
}


.main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    background-color: rgb(251, 248, 201);
}

                                /* MAIN SECTION */

.projects {
    grid-row: 1 / -1;
    padding: 1em;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;
}

.announcements, .trending {
    padding: 1em;
}

.announcement-container, .trending-container {
    background-color: white;
    border-radius: 10px;
    padding: 1em;

    box-shadow: 5px 5px 5px rgb(189, 188, 188);

}

.announcement-item, .trending-item {
    margin: 1em 0;
}

hr {
    height: 1px;
        background-color: #ccc;
        border: none;
}

.project-item {
    background-color: white;
    border-radius: 10px;
    padding: 1.5em;

    border-left: 10px solid rgb(230, 216, 20);
    box-shadow: 5px 5px 5px rgb(189, 188, 188);
}

.project-item h3 {
    margin-bottom: 5px;
}

.projects > h3 , .announcements > h3 , .trending > h3{
    margin: 1em 0;
}


.trending-item {
    display: flex;
    gap: 1em;

}

.trending-item, .announcements p, .main p {
    color: rgb(170, 167, 167);
}

.trending-item [alt="icon"] {
    height: 2em;
}

.trending-item #myicon {
    background-color: rgb(222, 222, 217);
    border-radius: 50%;
}

.trending-item span {
    font-size: smaller;
}

.item-btn img{
    height: 1em;
    margin: 0 5px;
}

.item-btn {
    text-align: end;
    margin-top: 1em;
} 


                                /* SIDEBAR */
.dashboard {
    display: flex;
    align-items: center;
    gap: 0.5em;  
    
    margin-bottom: 1.5em;
}


.dashboard > img {
    height: 3em;
} 

.sidebar-links li > img {
    height: 1.5em;
    
}

.sidebar ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 0.5em;
   padding: 15px 0 0 10px;
   font-weight: 700;
}

.sidebar ul > span {
    height: 2em;
}

.sidebar ul > li {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


                            /* HEADER */

[alt="notification"] {
    height: 1em;
}

img[alt="search"] {
    height: 1em;
    cursor: pointer;
}

.greeting-panel [alt="profile picture"], .profile-corner [alt="profile picture"] {
    box-sizing: content-box;
    height: 2em;
    background-color: rgb(222, 222, 217);
    border-radius: 50%;
}

.greeting-panel [alt="profile picture"] {
    height: 3em;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center;

}

.search-panel, .profile-corner, .greeting-panel {
    display: flex;
    align-items: center;
    gap: 1em;
}

#search {
    width: 80%;
    height: 1.5em;
    background-color: rgb(239, 237, 237);
    border: none;
    border-radius: 12px;
    padding: 12px ;

}

.hi {
    font-size: 0.7em;
}

.greeting-panel, .search-panel {
    padding-left: 1.5em;
}

.profile-corner, .file-menu {
    padding-right: 1.5em;
}

.profile-corner {
    justify-content: end;
    gap: 2em;
    font-weight: 700;
}

.greeting-panel {
    font-weight: 700;
    font-size: 1.2em;
}

.file-menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 3em;
}

.file-menu li {
    box-sizing: content-box;
    background-color: yellowgreen;
    padding: 4px 28px;
    border-radius: 50px;
}

/* active / hover / etc */ 
input:focus {
    outline: none;
    box-shadow: 0 0 10px #68d573;
  }

.sidebar a:hover {
    text-decoration: underline;
}

.file-menu a:hover {
    color: white;
}


